<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mqttclient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.WindowsRuntime" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <mqttclient.Properties.Settings>
      <setting name="mqttserver" serializeAs="String">
        <value />
      </setting>
      <setting name="mqttusername" serializeAs="String">
        <value />
      </setting>
      <setting name="mqttpassword" serializeAs="String">
        <value />
      </setting>
      <setting name="mqtttopic" serializeAs="String">
        <value />
      </setting>
      <setting name="mqtttimerinterval" serializeAs="String">
        <value />
      </setting>
      <setting name="ScreenShotEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenShotpath" serializeAs="String">
        <value />
      </setting>
      <setting name="ScreenShotInterval" serializeAs="String">
        <value />
      </setting>
      <setting name="ScreenshotMqtt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BatterySensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiskSensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mqttport" serializeAs="String">
        <value>1883</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSSpeaker" serializeAs="String">
        <value />
      </setting>
      <setting name="MqttSlideshow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MqttSlideshowFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="RunAtStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cpusensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Freememorysensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Volumesensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsComputerUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableWebCamPublish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebCamToPublish" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableTTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdMute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdVolume" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdSuspend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdReboot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdShutdown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdHibernate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdTts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdToast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdMonitor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdApp" serializeAs="String">
        <value>False</value>
      </setting>
    </mqttclient.Properties.Settings>
  </userSettings>
</configuration>
