<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetCore.WindowsRuntime" version="1.1.1" targetFramework="net452" />
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net452" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.0.1" targetFramework="net452" />
  <package id="Autofac" version="4.8.1" targetFramework="net452" />
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>